/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

/* Barra de navegación */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav a:hover {
  color: #ff6347; /* Color de hover */
}

/* Estilos de formulario */
input[type="number"] {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para lista de Pokémon guardados */
li {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li button {
  background-color: #dc3545;
}